<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    Hi {{ person }}! Lets Play a game!!!
    <form action = "/madlib">
        
      Please Select a Person:
     <br>
        <select name = "Person_game">
            <option value = "John the Don"> John the Don </option>
            <option value = "Fly the Butterfly"> Fly the Butterfly</option>
            <option value = "Dora the Explorer">Dora the Explorer</option>

        </select>
     <br>

        Please Select a Color:
     <br>
        <select name = "color">
            <option value = "Blood Red">Blood RED</option>
            <option value="Olive Green">Olive Green</option>
            <option value="Sky Blue">Sky Blue</option>
            
        </select>
     <br>

        Please select a noun:
     <br>
        <select name = "noun">
            <option value = "Apple">Apple</option>
            <option value = "Airplane">Airplane</option>
            <option value = "Frying Pan">Frying Pan</option>
        </select>
     <br>
        Please select an adjective:
     <br>
        <select name = "adjective">
            <option value = "greasy">Greasy</option>
            <option value = "Sparkly">Sparkly</option>
            <option value = "creepy">Creepy</option>
        </select>
      <br>
      <br>
      <input type = "submit" >
        
    
     
    </form>
</body>
</html>